name: Integration Apps

on:
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: macOS-latest

    steps:
      - uses: actions/checkout@v2

      - name: Install Flutter
        uses: Flutter-actions/setup-flutter@v1

      - name: Run unit tests
        run: flutter test

      - name: Set status
        uses: actions/github-script@v1
        with:
          script: |
            if (steps.run_unit_tests.outcome == 'success') {
              github.repos.createStatus(
                {
                  owner: ${{ github.repository_owner }},
                  repo: ${{ github.repository }},
                  sha: ${{ github.sha }},
                  state: 'success',
                  context: 'unit-tests',
                  description: 'Unit tests passed.'
                }
              )
            } else {
              github.repos.createStatus(
                {
                  owner: ${{ github.repository_owner }},
                  repo: ${{ github.repository }},
                  sha: ${{ github.sha }},
                  state: 'failure',
                  context: 'unit-tests',
                  description: 'Unit tests failed.'
                }
              )
            }
